.label {
    -fx-text-fill: whitesmoke;
    -fx-background-color: black;
    -fx-font-size: 14px;
}

.root {
    -fx-background-color: black;
}

.root > * > * {
    -fx-padding: 2px;
}

.root {
    -fx-padding: 5px;
}

.error {
    -fx-text-fill: red;
    -fx-padding: 10px;
}
.button {
    -fx-background-color: black;
    -fx-text-fill: whitesmoke;
    -fx-border-color: whitesmoke;
    -fx-border-radius: 7px;
}

.text-field {
    -fx-background-color: black;
    -fx-border-color: whitesmoke;
    -fx-padding: 5px;
    -fx-border-radius: 10px;
}


